celery
Django~=3.2
django_celery_beat
django-configurations
django-filingcabinet
djangorestframework
django-taggit
dj-database-url
python-dotenv

-e git+https://github.com/okfde/django-filingcabinet.git@main#egg=django-filingcabinet